.custom-modal {
    .ant-modal-content {
        border-radius: 2px;
        padding: 32px 32px 24px 32px;
        .ant-modal-close {
            display: none;
        }
        .ant-modal-header {
            .ant-modal-title {
                > img {
                    margin-right: 16px;
                }
                display: flex;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: rgba(0, 0, 0, 0.85);
            }
        }
        .ant-modal-body {
            margin-left: 38px;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.85);
            white-space: pre-wrap;
            overflow-y: scroll;
            max-height: 100px;
            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: #ffffff;
            }
            &::-webkit-scrollbar-thumb {
                background: #c4c2c2;
                border-radius: 10px;
                background-clip: padding-box;
                border: 2px solid transparent;
                &:hover {
                    background: #858484;
                }
            }
        }
        .ant-modal-footer {
            margin-top: 24px;
            .ant-btn-default {
                display: none;
            }
            .ant-btn-primary {
                background-color: '#1890ff';
                &:hover {
                    background-color: #4096ff;
                }
                border-radius: 2px;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #ffffff;
                height: initial;
            }
        }
    }
}
